@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: unset;
    padding: unset;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
}

header {
    background-attachment: fixed;
    background-image: url('../res/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: darkgray;
    height: 100vh;
}

header nav {
    align-items: center;
    background-color: #1e1010;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 75%;
}

header nav a {
    color: darkgray;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover {
    background: saddlebrown;
    color: lightgray;
}

header nav a.active {
    background: lightslategray;
    color: black;
}

header h1 {
    bottom: 200px;
    color: darkgray;
    left: 300px;
    line-height: 2;
    position: absolute;
}

h2 {
    font-size: 3em;
    margin: 30px;
}

footer {
    align-items: center;
    border: darkgray 2px solid;
    border-top: none;
    color: darkgray;
    display: flex;
    font-size: 2em;
    height: 3em;
    justify-content: center;
    text-transform: uppercase;
}

#about {
    background-color: darkgray;
    display: inline-block;
    height: 100vh;
}

#about img {
    float: left;
    height: 30%;
    margin: 15% 5% 15% 15%;
    width: 20%;
}

#about h2 {
    margin-top: 15%;
}

#about p {
    font-size: 1.5em;
    margin-right: 10%;
}

#portfolio {
    background-color: gray;
    color: aliceblue;
    display: flow;
    height: 100vh;
}

#portfolio img {
    height: auto;
    margin-left: 25%;
    width: 40%;
}

#portfolio p {
    font-size: 2em;
    margin-left: 25%;
}

#portfolio hr {
    margin-bottom: 30px;
}

#contacts {
    align-items: center;
    background-color: darkgray;
    border: #1e1010 2px solid;
    border-bottom: none;
    display: flex;
    height: 5em;
    justify-content: center;
}

#contacts img {
    height: auto;
    width: 10%;
}